--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple

adal==1.2.7 ; python_version >= "3.11" and python_version < "4.0"
aiofiles==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.9.5 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
aliyun-python-sdk-core==2.15.1 ; python_version >= "3.11" and python_version < "4.0"
aliyun-python-sdk-kms==2.16.3 ; python_version >= "3.11" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
ansible-core @ https://github.com/jumpserver-dev/ansible/archive/refs/tags/v2.14.1.7.zip ; python_version >= "3.11" and python_version < "4.0"
ansible-runner @ https://github.com/jumpserver-dev/ansible-runner/archive/refs/tags/2.4.0.1.zip ; python_version >= "3.11" and python_version < "4.0"
ansible==7.1.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
appnope==0.1.4 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
asn1crypto==1.5.1 ; python_version >= "3.11" and python_version < "4.0"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "4.0"
autobahn==23.6.2 ; python_version >= "3.11" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.11" and python_version < "4.0"
azure-core==1.30.2 ; python_version >= "3.11" and python_version < "4.0"
azure-storage-blob==12.17.0 ; python_version >= "3.11" and python_version < "4.0"
backcall==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
bcrypt==4.0.1 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "4.0"
billiard==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.28.9 ; python_version >= "3.11" and python_version < "4.0"
boto==2.49.0 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.31.9 ; python_version >= "3.11" and python_version < "4.0"
cached-property==1.5.2 ; python_version >= "3.11" and python_version < "4.0"
cachetools==5.3.3 ; python_version >= "3.11" and python_version < "4.0"
celery==5.3.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.11" and python_version < "4.0"
channels-redis==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
channels==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
chardet==5.1.0 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
configparser==6.0.0 ; python_version >= "3.11" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.11" and python_version < "4.0"
coreapi==2.3.3 ; python_version >= "3.11" and python_version < "4.0"
coreschema==0.0.4 ; python_version >= "3.11" and python_version < "4.0"
crcmod==1.7 ; python_version >= "3.11" and python_version < "4.0"
cron-descriptor==1.4.3 ; python_version >= "3.11" and python_version < "4.0"
cryptography==41.0.2 ; python_version >= "3.11" and python_version < "4.0"
cython==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
daphne==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
data-tree==0.0.1 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
django-auth-ldap==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
django-bootstrap3==23.4 ; python_version >= "3.11" and python_version < "4.0"
django-cas-ng @ https://github.com/ibuler/django-cas-ng/releases/download/v4.3.2/django-cas-ng-4.3.2.zip ; python_version >= "3.11" and python_version < "4.0"
django-celery-beat==2.6.0 ; python_version >= "3.11" and python_version < "4.0"
django-cors-headers==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
django-debug-toolbar==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
django-filter==23.2 ; python_version >= "3.11" and python_version < "4.0"
django-formtools==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
django-private-storage==3.1 ; python_version >= "3.11" and python_version < "4.0"
django-proxy==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
django-radius @ https://github.com/ibuler/django-radius/archive/refs/tags/1.5.0.zip ; python_version >= "3.11" and python_version < "4.0"
django-ranged-response==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
django-redis==5.3.0 ; python_version >= "3.11" and python_version < "4.0"
django-simple-captcha==0.5.18 ; python_version >= "3.11" and python_version < "4.0"
django-simple-history==3.3.0 ; python_version >= "3.11" and python_version < "4.0"
django-timezone-field==5.1 ; python_version >= "3.11" and python_version < "4.0"
django==4.1.13 ; python_version >= "3.11" and python_version < "4.0"
djangorestframework-bulk==0.2.1 ; python_version >= "3.11" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.11" and python_version < "4.0"
dnspython==2.6.1 ; python_version >= "3.11" and python_version < "4.0"
docutils==0.20.1 ; python_version >= "3.11" and python_version < "4.0"
drf-nested-routers==0.93.4 ; python_version >= "3.11" and python_version < "4.0"
drf-writable-nested==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
drf-yasg==1.21.7 ; python_version >= "3.11" and python_version < "4.0"
ecdsa==0.18.0 ; python_version >= "3.11" and python_version < "4.0"
elastic-transport==8.13.1 ; python_version >= "3.11" and python_version < "4.0"
elasticsearch7==7.17.9 ; python_version >= "3.11" and python_version < "4"
elasticsearch8==8.13.2 ; python_version >= "3.11" and python_version < "4.0"
enum-compat==0.0.3 ; python_version >= "3.11" and python_version < "4.0"
ephem==4.1.4 ; python_version >= "3.11" and python_version < "4.0"
esdk-obs-python==3.21.4 ; python_version >= "3.11" and python_version < "4.0"
et-xmlfile==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
eventlet==0.33.3 ; python_version >= "3.11" and python_version < "4.0"
exchangelib==5.4.1 ; python_version >= "3.11" and python_version < "4.0"
executing==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
fido2==1.1.3 ; python_version >= "3.11" and python_version < "4.0"
flower==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
forgerypy3==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.11" and python_version < "4.0"
geoip2==4.7.0 ; python_version >= "3.11" and python_version < "4.0"
gmssl==3.2.2 ; python_version >= "3.11" and python_version < "4.0"
google-auth==2.32.0 ; python_version >= "3.11" and python_version < "4.0"
greenlet==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==21.2.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
html2text==2020.1.16 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.5 ; python_version >= "3.11" and python_version < "4.0"
httpsig==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "4.0"
humanize==4.10.0 ; python_version >= "3.11" and python_version < "4.0"
hvac==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.11" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "4.0"
ipip-ipdb==1.6.1 ; python_version >= "3.11" and python_version < "4.0"
ipy==1.01 ; python_version >= "3.11" and python_version < "4.0"
ipython==8.14.0 ; python_version >= "3.11" and python_version < "4.0"
isodate==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
itsdangerous==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
itypes==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
jmespath==0.10.0 ; python_version >= "3.11" and python_version < "4.0"
jms-storage==0.0.59 ; python_version >= "3.11" and python_version < "4.0"
jsonfield2==4.0.0.post0 ; python_version >= "3.11" and python_version < "4.0"
kombu==5.3.1 ; python_version >= "3.11" and python_version < "4.0"
kubernetes==27.2.0 ; python_version >= "3.11" and python_version < "4.0"
ldap3==2.9.1 ; python_version >= "3.11" and python_version < "4.0"
lml==0.1.0 ; python_version >= "3.11" and python_version < "4.0"
lockfile==0.12.2 ; python_version >= "3.11" and python_version < "4.0"
lxml==5.2.1 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "4.0"
maxminddb==2.6.2 ; python_version >= "3.11" and python_version < "4.0"
mistune==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.0.8 ; python_version >= "3.11" and python_version < "4.0"
msrest==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
msrestazure==0.6.4 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.11" and python_version < "4.0"
mysqlclient==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
netaddr==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
netifaces==0.11.0 ; python_version >= "3.11" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.11" and python_version < "4.0"
olefile==0.46 ; python_version >= "3.11" and python_version < "4.0"
openai==1.35.10 ; python_version >= "3.11" and python_version < "4.0"
openapi-codec==1.3.2 ; python_version >= "3.11" and python_version < "4.0"
openpyxl==3.0.10 ; python_version >= "3.11" and python_version < "4.0"
oss2==2.18.1 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.11" and python_version < "4.0"
paramiko==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
parso==0.8.4 ; python_version >= "3.11" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0"
phonenumbers==8.13.17 ; python_version >= "3.11" and python_version < "4.0"
pickleshare==0.7.5 ; python_version >= "3.11" and python_version < "4.0"
pillow==10.0.1 ; python_version >= "3.11" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.47 ; python_version >= "3.11" and python_version < "4.0"
psutil==5.9.5 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
pure-eval==0.2.2 ; python_version >= "3.11" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.11" and python_version < "4.0"
pycryptodome==3.18.0 ; python_version >= "3.11" and python_version < "4.0"
pycryptodomex==3.18.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.20.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
pyexcel-io==0.6.6 ; python_version >= "3.11" and python_version < "4.0"
pyexcel-xlsx==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
pyexcel==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
pyfreerdp==0.0.2 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "4.0"
pyhcl==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
pyjwkest==1.4.2 ; python_version >= "3.11" and python_version < "4.0"
pyjwt==2.8.0 ; python_version >= "3.11" and python_version < "4.0"
pymongo==4.4.1 ; python_version >= "3.11" and python_version < "4.0"
pympler==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pymysql==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
pyopenssl==23.2.0 ; python_version >= "3.11" and python_version < "4.0"
pyotp==2.8.0 ; python_version >= "3.11" and python_version < "4.0"
pyrad==2.4 ; python_version >= "3.11" and python_version < "4.0"
pyspnego==0.11.0 ; python_version >= "3.11" and python_version < "4.0"
python-cas==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
python-crontab==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
python-daemon==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
python-ldap==3.4.3 ; python_version >= "3.11" and python_version < "4.0"
python-nmap==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
python-redis-lock==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
python3-saml==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.11" and python_version < "4.0"
pyvmomi==8.0.1.0.2 ; python_version >= "3.11" and python_version < "4.0"
pywinrm==0.4.3 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
pyzipper==0.3.6 ; python_version >= "3.11" and python_version < "4.0"
receptorctl==1.4.8 ; python_version >= "3.11" and python_version < "4.0"
redis @ https://github.com/jumpserver-dev/redis-py/archive/refs/tags/v5.0.3.zip ; python_version >= "3.11" and python_version < "4.0"
requests-ntlm==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
resolvelib==0.8.1 ; python_version >= "3.11" and python_version < "4.0"
rest-condition==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.11" and python_version < "4"
s3transfer==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
service-identity==24.1.0 ; python_version >= "3.11" and python_version < "4.0"
setuptools==70.2.0 ; python_version >= "3.11" and python_version < "4.0"
simplejson==3.19.1 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
sshpubkeys==3.3.1 ; python_version >= "3.11" and python_version < "4.0"
sshtunnel==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
sspilib==0.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
texttable==1.7.0 ; python_version >= "3.11" and python_version < "4.0"
tornado==6.4.1 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
treelib==1.6.4 ; python_version >= "3.11" and python_version < "4.0"
twisted-iocpsupport==1.0.4 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
twisted[tls]==24.3.0 ; python_version >= "3.11" and python_version < "4.0"
txaio==23.1.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "4.0"
tzlocal==5.2 ; python_version >= "3.11" and python_version < "4.0"
ua-parser==0.18.0 ; python_version >= "3.11" and python_version < "4.0"
unicodecsv==0.14.1 ; python_version >= "3.11" and python_version < "4.0"
uritemplate==4.1.1 ; python_version >= "3.11" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.11" and python_version < "4.0"
user-agents==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.11" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.11" and python_version < "4.0"
websockets==11.0.3 ; python_version >= "3.11" and python_version < "4.0"
werkzeug==2.3.6 ; python_version >= "3.11" and python_version < "4.0"
xlsxwriter==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
xmlsec==1.3.14 ; python_version >= "3.11" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "4.0"
zope-interface==6.4.post2 ; python_version >= "3.11" and python_version < "4.0"
